<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>21-adv-ava-club-rev</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>AddNumController</servlet-name>
		<servlet-class>com.controller.AddNumController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddNumController</servlet-name>
		<url-pattern>/AddNumController</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>InputValidationFilter</filter-name>
		<filter-class>com.filter.InputValidationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>InputValidationFilter</filter-name>
		<servlet-name>AddNumController</servlet-name>
	</filter-mapping>


	<filter>
		<filter-name>IntegerCheckFilter</filter-name>
		<filter-class>com.filter.IntegerCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>IntegerCheckFilter</filter-name>
		<servlet-name>AddNumController</servlet-name>
	</filter-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>www.royal.com/emp/tejas</taglib-uri>
			<taglib-location>WEB-INF/elfunction.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>www.royal.com/emp/tejas/stag</taglib-uri>
			<taglib-location>WEB-INF/stag.tld</taglib-location>
		</taglib>


		<taglib>
			<taglib-uri>www.royal.com/emp/tejas/ctag</taglib-uri>
			<taglib-location>WEB-INF/ctag.tld</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>








